<md-dialog aria-label="Prepare Dialog">
	<md-dialog-content>
		<span class="md-display-1">
			Prepare Spell
		</span>
		<md-input-container>
			<label>Amount</label>
			<input type="number" ng-model="amount">
		</md-input-container>
	</md-dialog-content>
	<md-dialog-buttons>
		<md-button ng-click="save('use')">
			Use
		</md-button>
		<md-button ng-click="save('prepareexisting')">
			Prepare
		</md-button>
		<md-button ng-click="save('unprepare')">
			Unprepare
		</md-button>
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
	</md-dialog-buttons>
</md-dialog>