<md-dialog aria-label=" Dialog">
	<md-dialog-content>
		<span class="md-display-1">
			Languages
		</span>
		<div layout="column">
			<md-table-container>
				<table>
					<tr ng-repeat="l in parent.character.Languages">
						<td>
							<span>{{l}}</span>
						</td>
						<td>
							<md-button ng-click="save('forget', l)">Remove</md-button>
						</td>
					</tr>
					<tr>
						<td>
							<md-input-container>
								<label>New Language</label>
								<input ng-model="newLanguage">
							</md-input-container>
						</td>
						<td>
							<md-button ng-disabled="newLanguage == ''" ng-click="save('learn', newLanguage)">Add</md-button>
						</td>
					</tr>
				</table>
			</md-table-container>
		</div>
	</md-dialog-content>
	<md-dialog-buttons>
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
	</md-dialog-buttons>
</md-dialog>