<md-dialog aria-label="Equip Dialog">
	<md-dialog-content>
		<span class="md-display-1">
			Equip {{item.Name}}
		</span>
		<md-input-container>
			<label>Slot</label>
			<md-select ng-model="slot">
				<md-option ng-repeat="type in item.PossibleLocations" ng-value="type[0]">{{type[1]}}</md-option>
			</md-select>
		</md-input-container>
	</md-dialog-content>
	<md-dialog-buttons>
		<md-button ng-disable="slot == 0" ng-click="save()">
			Equip
		</md-button>
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
	</md-dialog-buttons>
</md-dialog>