<span class="md-display-1">Inventory</span>
<md-button ng-click="showNewItemDialog()"></md-button>
<md-content layout-padding>
	<md-table-container>
		<table style="width: 100%">
			 <thead>
				<tr>
					<th style='text-align: center'>
						<span>Quantity</span>
					</th>
					<th>
						<span>Item</span>
					</th>
					<th style='text-align: center'>
						<span>Value</span>
					</th>
					<th style='text-align: center'>
						<span>Weight</span>
					</th>
					<th style='text-align: center'>
						<span></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in character.Inventory.Items">
					<td style='text-align: center' ng-click="showItemsDialog($event, i, $index)">
						<span>{{i.Quantity}}</span>
					</td>
					<td ng-click="showItemsDialog($event, i, $index)">
						<span>{{i.Item.Name}}</span>
					</td>
					<td style='text-align: center' ng-click="showItemsDialog($event, i, $index)">
						<span>{{i.Item.Value}} gp</span>
					</td>
					<td style='text-align: center' ng-click="showItemsDialog($event, i, $index)">
						<span>{{i.Item.Weight}} lbs</span>
					</td>
					<td style='text-align: center'>
						<md-button ng-click="showEquipDialog($event, i.Item, $index)" ng-show="i.Item.IsWearable && i.Item.EquippedAtSlot[0] == -1">Equip</md-button>
						<md-button ng-click="unequip($event, i.Item)" ng-show="i.Item.IsWearable && i.Item.EquippedAtSlot[0] != -1">Unequip</md-button>
					</td>
				</tr>
				<tr ng-click="showNewItemDialog($event)">
					<td style='text-align: center'>
						<span>&nbsp;</span>
					</td>
					<td>
						<span>&nbsp;</span>
					</td>
					<td style='text-align: center'>
						<span>&nbsp;</span>
					</td>
					<td style='text-align: center'>
						<span>&nbsp;</span>
					</td>
					<td style='text-align: center'>
						<span>&nbsp;</span>
					</td>
				</tr>
				<tr>
					<td style='text-align: center'>
					</td>
					<td>
					</td>
					<td style='text-align: center'>
						<span><b>{{character.Inventory.TotalValue}} gp</b></span>
					</td>
					<td style='text-align: center'>
						<span><b>{{character.Inventory.TotalWeight}} lbs</b></span>
					</td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
</md-content>