<md-dialog aria-label="Skill Change Dialog">
	<md-dialog-content>
		<span class="md-display-1">
			{{skill.Skill}}
		</span>
		<md-input-container>
			<label>Ranks</label>
			<input type="number" ng-model="skill.Ranks">
		</md-input-container>
		<div class="html-data" ng-bind-html="skill.Description"></div>
	</md-dialog-content>
	<md-dialog-buttons>
		<md-button ng-click="save()">
			Save
		</md-button>
		<md-button ng-click="cancel()">
			Cancel
		</md-button>
	</md-dialog-buttons>
</md-dialog>